body {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: 'Glory', sans-serif;
    font-size: 25px;
    color: white;
}

* {
    box-sizing: border-box;
}

.navbar {
    z-index: 900;
    width: 100%;
    background-color: rgb(54, 54, 255);
    color: white;
    text-decoration: none;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
}

.navbar .max-width {
    display: flex;
    align-items: center;
}

.navbar .menu li a {
    padding: 20px;
    color: white;
    text-decoration: none;
}

.navbar .logo a{
    padding: 10px;
    color: white;
    text-decoration: none;
}

.inicio{
    display: flex;
    background-color: rgb(153, 153, 153);
    min-height: 500px;
}

.inicio .contenido-inicio .hola {
    font-size: 25px;
    color: black;
}
.inicio .contenido-inicio .hola span {
    font-size: 50px;
    color: white;
}

.inicio .contenido-inicio .nombre {
    font-size: 30px;
    color: black;
}

.inicio .contenido-inicio .estudiante {
    font-size: 28px;
    color: black;
}

.navbar .menu li a:hover {
    padding: 20px;
    font-size: 25px;
    color: black;
    text-decoration: none;
}

.navbar .logo a:hover{
    padding: 10px;
    color: black;
    font-size: 25px;
    text-decoration: none;
}

.inicio .max-width{
    margin-left: 0px;
}