body {
    display: block;
    margin: 0;
    font-size: 25px;
    font-family: 'Glory', sans-serif ;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.navbar {
    z-index: 900;
    width: 100%;
    position: fixed;
    background-color: black;
    color: white;
    text-decoration: none;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
}

.navbar .max-width {
    display: flex;
    align-items: center;
}

.navbar .menu li a {
    padding: 20px;
    color: white;
    text-decoration: none;
}

.logo a{
    margin-left: 200px;
    display: inline-block;
}

.navbar .logo a{
    padding: 10px;
    color: white;
    text-decoration: none;
}

.inicio{
    display: flex;
    background-color: rgb(153, 153, 153);
    min-height: 500px;
}

.inicio .contenido-inicio .hola {
    font-size: 25px;
    color: black;
}

.inicio .contenido-inicio .nombre {
    font-size: 50px;
    color: white;
}

.inicio .contenido-inicio .estudiante {
    font-size: 28px;
    color: black;
}

.inicio .contenido-inicio .desarrollo {
    font-size: 35px;
    color: white;
}

.navbar .menu li a:hover {
    padding: 20px;
    font-size: 25px;
    color: rgb(0, 0, 255);
    text-decoration: none;
}

.navbar .logo a:hover{
    padding: 10px;
    color: rgb(0, 0, 255);
    font-size: 25px;
    text-decoration: none;
}

.inicio .contenido-inicio{
    width: 45%;
}

section {
    padding: 100px 0;
}

.inicio img{
    width: 350px;
    height: 400px;
}

section .titulo1 {
    font-size: 50px;
    position: relative;
    text-align: center;

}

.biografia {
    width: 100%;
    font-size: 20px;
    text-align: center;
}

.biografia .texto2 p {
    font-size: 20px;
    text-align: justify;
    margin: 20px 450px;
}

section .titulo2 {
    font-size: 50px;
    position: relative;
    text-align: center;
}

.habilidad {
    width: 100%;
    font-size: 20px;
    text-align: center;
    background-color: gray;
    color: black;
}

.habilidad .texto {
    font-size: 25px;
    color: black;
}

.habilidad .texto2 p {
    font-size: 20px;
    text-align: center;
    margin: 20px 450px;
    color: black;
    font-weight: 100;
}

.programas {
    margin: 20px 445px;
    justify-content: space-between;
    text-align: justify;
}

.programas img {
    width: 35px;
    height: 35px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
  
.fa:hover {
    opacity: 0.7;
    color: white;
    background-color: black;
}

.fa-facebook {
    background: black;
    color: white;
}

.fa-instagram {
    background: black;
    color: white;
}

.fa-whatsapp {
    background-color: black;
    color: white;
}

.fa-github {
    background-color: black;
    color: white;
}

footer {
    background-color: black;
    text-align: center;
}

div {
    display: block;
}

.name {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
}

.porta {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}   